.container
    display flex
    min-height calc(100vh - 60px)
    .aside
        width 200px
        color white
        background-color black
        a
            text-decoration none
            display block
            padding 10px 20px
            color white
            &.active
                color blue
                background-color #f1f3f7
    .main
        flex 1
        background-color #f1f3f7
        padding 20px