.container
    display flex
    min-height calc(100vh - 60px)

.msg-list
    margin 0px 0px 20px 0px
    background #FFFFFF
    border-radius 8px
    [class*="ant-table-thead"]
       th
	       text-align center
	       word-break keep-all
	       color #B3B8C3
	   td
	       text-align center
    [class*="ant-table-tbody"]
        tr
            td
                text-align center
                letter-spacing  0
                border-bottom  none
                height 70px
                position relative
            &:nth-child(odd)
                background  #F8F9FC

.title-block
    display flex
    justify-content space-between
    align-items center
    margin-bottom 20px

.title-text
    font-size 15px
    color #808892

.no-data-img
    position absolute
    right 0px
    top 15px

.pagination
    height 33px
    ul
        float right

.chart-block
    display flex
    justify-content space-between

.pie-chart-block
    padding 20px 0px 20px 0px
    width 50%
    min-height 540px
    background white
    border-top-left-radius 8px
    border-bottom-left-radius 8px

.bar-chart-block
    padding 20px 0px 20px 0px
    width 50%
    min-height 540px
    background white
    border-top-right-radius 8px
    border-bottom-right-radius 8px

.msg-detail-block
    width 100%
    height auto
    background white
    border-radius 8px
    padding 20px
    display flex
    justify-content flex-start
    position relative

.head-img
    width 50px
    height 50px
    border-radius 50%

.info-block
    margin-left 20px

.author-info
    margin-bottom 10px
    font-weight bold
    color #333333

.msg-detail-info
    position absolute
    right 20px
    bottom 20px

.info-text
    color #55a8fd

.msg-influence-rank-block
    width 100%
    height auto
    background white
    border-radius 8px
    margin-top 20px
    padding 20px

.msg-title-block
    font-weight bold

.user-list-block
    display flex
    align-items center
    justify-content flex-start
    margin-top 20px

.comment-user-block
    display flex
    justify-content flex-start

.user-text-block
    height 100px
    background #6fc1bf
    padding 0px 5px 0px 5px
    color white
    display flex
    align-items center
    margin-right 30px

.user-name
    width 6em
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

.comment-head-img
    width 50px
    height 50px
    border-radius 50%
    margin-left 10px

.msg-comment-list-block
    width 100%
    height auto
    background white
    border-radius 8px
    margin-top 20px
    padding 20px

.comment-list
    height 200px
    overflow-y auto
    margin-top 20px

.comment-item
    display flex
    align-items center
    margin-bottom 20px
    position relative

.msg-like
    position absolute
    right 20px
    bottom 0px
    display flex
    align-items flex-end

.like-img
    width 20px
    height 20px

.msg-comment-analyze-block
    width 100%
    height auto
    background white
    border-radius 8px
    margin-top 20px
    padding 20px

.hot-word-analyze-block
    width 100%
    height auto
    background white
    border-radius 8px
    margin-top 20px
    padding 20px

.user-opinion-analyze-block
    width 100%
    height auto
    background white
    border-radius 8px
    margin-top 20px
    padding 20px

.sensibility-display-block
    display flex
    justify-content space-between
    margin-top 10px

.sensibility-text
    font-size 25px
    color #ec6a3a

.not-sensibility-text
    font-size 25px
    color #277bc0