.draftWrapper *
    box-sizing content-box
    line-height 1.2

.draftTool, .draftEditor
    box-sizing border-box
    border 1px solid #F1F1F1
    background white

.draftEditor
    padding 0 10px
    min-height 200px
